doctype html
html(lang="en-US", ng-app="constantsCo")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Constants.co
    link(rel="stylesheet", href="lib/build.css")
    link(rel="stylesheet", href="css/main.css")
  body
    .container(ng-controller='Main as main')
      .row
          h1 CONSTANTS.CO
          .jumbotron.col-md-12
            .search
              form
                input.form-control.input-lg(placeholder='Search...', ng-model='query', style="height: 150px; font-size: 100px; line-height: 140px;")
      .row
        .panel.panel-primary
          .panel-heading
            h4.p Browse Constants
          .panel-body
            .allData
              table.table.table-hover
                tr.bg-info
                  th QUANTITY
                  th VALUE
                  th UNCERTAINTY
                  th WIKI
                tr(ng-repeat="constant in main.constantsObject | filter : query")
                  td(ng-click="main.displayConstant(constant)") {{constant.Quantity}}
                  td(ng-click="main.displayConstant(constant)") {{constant.Value}} {{constant.Unit}}
                  td(ng-click="main.displayConstant(constant)") {{constant.Uncertainty}}
                  td
                    a(href='https://en.wikipedia.org/wiki/Special:Search/{{constant.Quantity}}', target="_blank")
                      button.btn.btn-default Wiki
    script(src="lib/build.js")
    script(src="js/main.js")
