doctype html
html(lang="en-US", ng-app="constantsCo")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Constants.co
    link(rel="stylesheet", href="lib/build.css")
    link(rel="stylesheet", href="css/main.css")
  body
    .container(ng-controller='Main as main')
      .row
          h1 CONSTANTS.CO
          .jumbotron.col-md-10.col-md-offset-1
            .row
              .searchAndResults
                form.input-group(ng-submit='main.getConstant()')
                  input.form-control(placeholder='Search...', ng-model='query')
            .row
                .col-sm-4
                  p QUANTITY {{main.constantsObject.Quantity}}
                .col-sm-4
                  p VALUE {{main.constantsObject.Value}} {{main.constantsObject.Unit}}
                .col-sm-4
                  p UNCERTAINTY {{main.constantsObject.Uncertainty}}
      .row
        .panel.panel-primary
          .panel-heading
            h4.p Browse Constants
          .panel-body
            .allData
              table.table.table-hover
                tr.btn-info
                  th QUANTITY
                  th VALUE
                tr(ng-repeat="constant in main.constantsObject | filter : query")
                  td: a(href='https://en.wikipedia.org/wiki/Special:Search/{{constant.Quantity}}') {{constant.Quantity}}
                  td {{constant.Value}} {{constant.Unit}}
    script(src="lib/build.js")
    script(src="js/main.js")
